<?js var self = this; ?>
<dt>
    <h4 class="name" id="<?js= id ?>"><?js= data.attribs + (kind == 'class'? 'new ':'') + name + data.signature ?></h4>
    
    <?js if (data.summary) { ?>
    <p class="summary"><?js= summary ?></p>
    <?js } ?>
</dt>
<dd>
    
    <?js if (data.description) { ?>
    <div class="description">
        <?js= data.description ?>
    </div>
    <?js } ?>
    
    <?js if (data['this']) { ?>
        <div class="padded">
            <h5>This:</h5>
            <ul><li><?js= this.linkto(data['this'], data['this']) ?></li></ul>
        </div>
    <?js } ?>
    
    <?js if (data.params && params.length) { ?>
        <div class="padded">
            <h5>Parameters:</h5>
            <?js= this.partial('params.tmpl', params) ?>
        </div>
    <?js } ?>
    
    <?js if (data.fires && fires.length) { ?>
        <div class="padded">
            <h5>Fires:</h5>
            <ul><?js fires.forEach(function(f) { ?>
                <?js= self.partial('fires.tmpl', self.linkto(f) ) ?>
            <?js }); ?></ul>
        </div>
    <?js } ?>
    
    <?js if (data.exceptions && exceptions.length) { ?>
        <div class="padded">
            <h5>Throws:</h5>
            <?js if (exceptions.length > 1) { ?><ul><?js
                exceptions.forEach(function(r) { ?>
                    <li><?js= self.partial('exceptions.tmpl', r) ?></li>
                <?js });
            ?></ul>
        </div><?js } else {
            exceptions.forEach(function(r) { ?>
                <?js= self.partial('exceptions.tmpl', r) ?>
        </div>
        <?js });
    } } ?>
    
    <?js if (data.returns && returns.length) { ?>
        <div class="padded">
            <h5>Returns:</h5>
            <?js if (returns.length > 1) { ?><ul><?js
                returns.forEach(function(r) { ?>
                    <li><?js= self.partial('returns.tmpl', r) ?></li>
                <?js });
            ?></ul>
        </div><?js } else {
            returns.forEach(function(r) { ?>
                <?js= self.partial('returns.tmpl', r) ?>
        </div>
        <?js });
    } } ?>
    
    <?js if (data.examples && examples.length) { ?>
        <div class="padded">
            <h5>Example<?js= examples.length > 1? 's':'' ?></h5>
            <?js= this.partial('examples.tmpl', examples) ?>
        </div>
    <?js } ?>

    <?js= this.partial('details.tmpl', data) ?>
</dd>